<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fifth.researchgroup.dao.ResumeDao">

    <insert id="addResume" parameterType="Resume" useGeneratedKeys="true" keyProperty="id">
        insert into resume(id,user_id,content) values (#{id},#{userId},#{content})
    </insert>

    <update id="updateResume" parameterType="Resume">
        update resume set content=#{content} where user_id=#{userId}
    </update>

    <resultMap id="resumeMap" type="Resume">
        <result property="userId" column="user_id"/>
        <result property="sendTime" column="send_time"/>
    </resultMap>

    <select id="queryResumeById" parameterType="int" resultMap="resumeMap">
        select id,user_id,content,send_time from resume where user_id=#{id}
    </select>


</mapper>